.h2 {
  font-size: 12px;
}

.notification {
  font-size: 12px;

  .name {
    margin-top: 5px;
    margin-left: 12px;

    .reason {
      color: #faad14;
      font-style: italic;
      font-size: 11px;
      margin-left: 12px;
    }
  }
}